<div class="container-defensive">
  <main-theme class="block">
    <div class="heading-name ">
      <h1 class="heading-name-h1" contenteditable="true">DEFENSIVE LINE
      </h1>
    </div>
    <div class="heading-image">
      <h1 class="heading-image-h1 text-center"><b>Opponent Logo</b></h1>
      <hr class="heading-image-hr">
    </div>
  </main-theme>

  <div class="row ">
    <h1 class="txt"># - NAME (POS) H/W - 1. RUSH MOVE 2. RUSH MOVE 3. RUSH MOVE - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - 1. RUSH MOVE 2. RUSH MOVE 3. RUSH MOVE - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - 1. RUSH MOVE 2. RUSH MOVE 3. RUSH MOVE - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - 1. RUSH MOVE 2. RUSH MOVE 3. RUSH MOVE - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - 1. RUSH MOVE 2. RUSH MOVE 3. RUSH MOVE - Analysis/Notes</h1>
  </div>

  <div class="row rowBox">
    <h1 class="txt1"># - Narrative about each each player listed above</h1>
  </div>
  <div class="row rowBox">
    <h1 class="txt1"># - Narrative about each each player listed above</h1>
  </div>
  <div class="row rowBox">
    <h1 class="txt1"># - Narrative about each each player listed above</h1>
  </div>
  <div class="row rowBox">
    <h1 class="txt1"># - Narrative about each each player listed above</h1>
  </div>
</div>
