<div class="container-defensive">
  <main-theme class="block">
    <div class="heading-name ">
      <h1 class="heading-name-h1" contenteditable="true">(20)
      </h1>
    </div>
    <div class="heading-image">
      <h1 class="heading-image-h1 text-center"><b>Our Logo</b></h1>
      <hr class="heading-image-hr">
    </div>
  </main-theme>

  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h1 class="txt">Diagrams of how the opponent aligns vs 20 personnel</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h1 class="txt">Diagrams of how the opponent aligns vs 20 personnel</h1>
      </div>
    </div>
  </div>
</div>
