<div class="container-defensive">
  <main-theme class="block">
    <div class="heading-name ">
      <h1 class="heading-name-h1" contenteditable="true">LINEBACKERS
      </h1>
    </div>
    <div class="heading-image">
      <h1 class="heading-image-h1 text-center"><b>Opponent Logo</b></h1>
      <hr class="heading-image-hr">
    </div>
  </main-theme>

  <div class="row ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>
  <div class="row  ">
    <h1 class="txt"># - NAME (POS) H/W - Analysis/Notes</h1>
  </div>


</div>
