:host {
}

.block {
  display: flex;
  /* justify-content: center; */
}

.heading-name {
  margin-top: 6%;
  height: 200px;
  width: 80% !important;
  background-color: black;
}

.heading-name-h1 {
  margin-top: 3%;
  color: whitesmoke;
  text-align: center;
  font-size: 100px;
}

.heading-image {
  margin-top: 6%;
  margin-left: 2%;
  height: 200px;
  width: 400px;
  background-color: whitesmoke;
}

.heading-image-h1 {
  margin-top: 15%;
  color: red;
  text-align: right;
  margin-right: 5%;
  font-size: 25px;
}

.heading-image-hr {
  border-top: 2px solid orange;
}

.custom-date-h6 {
  color: black;
  margin-left: 35%;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 3%;
}
.custom-date-number {
  color: whitesmoke;
  margin-left: 85%;
  margin-top: -3%;
  font-size: 25px;
}

.left-image {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 200px;
  width: 200px;
}
.right-image {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 200px;
  width: 200px;
}
.box {
  background: #12b873;
  color: black;
  height: 150px;
  width: 850px;
  margin-top: 5%;
  margin-left: 5%;
}

.rowBox {
  border: 1px solid black;
  background: gray;
  width: 95%;
  margin-left: 2%;
  margin-top: 1%;
}
.txt1 {
  color: black;
  margin-left: 1%;
  margin-top: 0.5%;
  font-weight: bolder;
}
.heading1 {
  margin-left: 41%;
  margin-top: 3%;
}
