<div class="container-gameFlow">
  <main-theme class="block">
    <div class="heading-name ">
      <h1 class="heading-name-h1" contenteditable="true">Game Flow
      </h1>
    </div>
    <div class="heading-image">
      <h1 class="heading-image-h1 text-center"><b>Our Logo</b></h1>
      <hr class="heading-image-hr">
    </div>
  </main-theme>

  <div class="row">
    <div class="col-md-6 ">
      <div class="box">
        <h1 class="text-center">RUN #1</h1>
        <h1 class="heading1">Analysis</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h1 class="text-center">RUN #2</h1>
        <h1 class="heading1">Analysis</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-3">
      <div class="box">
        <h1 class="text-center">RUN #3</h1>
        <h1 class="heading1">Analysis</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h1 class="text-center">RUN #4</h1>
        <h1 class="heading1">Analysis</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <h1 class="text-center">RUN #5</h1>
        <h1 class="heading1">Analysis</h1>
      </div>
    </div>
  </div>
</div>
